h1, h2, h3 {
    color: lightblue;
}

table {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    table-layout: fixed;
}

table th {
    background-color: lightgrey;
}

p code, li code {
    color: palevioletred;
    font-family: monospace;
    font-size: 0.8em;
}
table th, table td {
    border: 1px solid black;
    text-align: center;
    
}

pre {
    font-size: 0.8em;
    border: 1px solid black;
}

ul {
    list-style-type: upper-alpha;
}

@page {
  @bottom-center {
    content: counter(page) "/" counter(pages);
    font-size: 10pt;
    color: #888;
  }
}